<div class="container mt-4 pt-4">
  <h1 class="mt-4 pt-4">Users List</h1>

  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            (click)="promoteUser(user._id)"
            class="btn btn-sm rounded-pill role-btn"
            [ngClass]="{
              'btn-warning text-dark': user.role === 'user',
              'btn-danger': user.role === 'admin'
            }"
          >
            {{ user.role === 'user' ? 'Promote to Admin' : ' Admin' }}
          </button>
        </td>
        <td>
          <button class="delete-btn" (click)="deleteUser(user._id)">Delete User</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
