.my {
  position: relative;
  padding-left: 50px !important;
}

.my::after {
  content: '';
  width: 100%;
  height: 3px;
background: linear-gradient(to right, #3f67a2, #734fac);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0); /* ← الحالة العادية */
  transform-origin: bottom left;
  transition: transform 0.5s ease; /* ← هنا الترانزيشن بيشتغل */
}

.my:hover::after {
  transform: scaleX(1); /* ← هنا بيظهر الخط */
}
.navbar .badge {
  font-size: 0.6rem;
  padding: 4px 6px;
}
.profile-dropdown {
  z-index: 9999 !important;
  position: absolute !important;
}
