
<section class="bg-dark-subtle text-white p-5 text-center" data-aos="zoom-in">
  <div class="container p-2"  data-aos="fade-up">
    <h2 class="fw-semibold mt-3 text-black "> Join the <span class="text-dark">Oops Club</span></h2>
    <br>
        <h4 class="fw-semibold mt-3 text-black">Get exclusive deals and early access to new products</h4>


       <h3 class="h4 fw-semibold text-black mt-3">Follow us on Instagram & TikTok </h3>


    <div class="d-flex justify-content-center align-items-center flex-wrap gap-5  mt-3">
      <a href="https://www.instagram.com/oops_eg/" target="_blank" class="text-white text-decoration-none fw-semibold">
        <span class="fw-semibold fa-2x main-color"><i class="fa-brands fa-instagram"></i></span>
      </a>
      <span class="text-secondary">|</span>
      <a href="https://www.tiktok.com/@oops_eg?_t=ZS-8yW5LUrJsAB&_r=1" target="_blank" class="text-white text-decoration-none fw-semibold">
                <span class="fw-semibold fa-2x black"><i class="fa-brands fa-tiktok"></i></span>

      </a>
      <span class="text-secondary">|</span>
      <span class="fw-semibold text-black">2025 Oops</span>
    </div>

    <p class="text-muted small mt-3 fw-semibold">© 2025 Oops. All rights reserved.</p>
  </div>
</section>
