<section class="text-white mt-4 pt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium hic, ut molestias aspernatur reprehenderit ipsum! Quas architecto distinctio dolorem suscipit officia repudiandae, praesentium dolor necessitatibus inventore saepe. Rerum, fugit vero.</section>

<section>
  <section class="vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="text-center p-5 shadow rounded bg-white">
    <h1 class="display-4 fw-bold text-black">404</h1>
    <p class="fs-4 text-secondary mb-4">
      Oops! The page you’re looking for doesn’t exist or has been moved.
    </p>
    <a href="/home" class="btn btn-dark px-4 py-2">Back to Home</a>
  </div>
</section>

</section>
