<div *ngIf="order" class="order-container p-4 pt-4 mt-4" id="printable-order">
  <!-- يظهر فقط وقت الطباعة -->

  <div class="order-header mt-4 pt-4">
    <h2>Order {{ order.orderNumber }}</h2>
    <button onclick="window.print()" class="print-btn">🖨 Print Receipt</button>
  </div>

  <p><strong>Status:</strong> {{ order.status }}</p>
  <p><strong>Payment:</strong> {{ order.paymentMethod }}</p>

  <hr>

  <h5>Shipping Address</h5>
  <p>
    {{ order.shippingAddress.fullName }}<br>
    {{ getFullAddress() }}<br>
    Phone: {{ order.shippingAddress.phone }}<br>
    Alt Phone: {{ order.shippingAddress.anotherPhone }}
  </p>

  <hr>

  <h5>Order Items</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Color</th>
        <th>Size</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{ item.snapshot.title }}</td>
        <td>{{ item.snapshot.color }}</td>
        <td>{{ item.snapshot.size }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.snapshot.totalForThisItem }} EGP</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <p><strong>Subtotal:</strong> {{ order.subTotal }} EGP</p>
  <p><strong>Discount:</strong> {{ order.discount }} EGP</p>
  <p><strong>Shipping:</strong> {{ order.shipping }} EGP</p>
  <p><strong>Total:</strong> {{ order.Total }} EGP</p>
</div>